## 1.소개
- kaggle 에서 특정 데이터에 대해 kernels 에 올라와 있는 분석에 대해 공부
- 데이터를 보는 과정 및 코드 분석을 위함
- 원본 : [kaggle LOL DataAnalysis](https://www.kaggle.com/nstuber16/d/chuckephron/leagueoflegends/dataanalysisfun)
- 주제 : 포지션별 챔피언 승률 확인

In [1]:
import numpy as np
import pandas as pd
from subprocess import check_output

In [2]:
print(check_output(["ls", "data"]).decode('utf8'))

LeagueofLegends.csv
_Columns.csv
_LeagueofLegends.csv
banValues.csv
deathValues.csv
goldValues.csv
objValues.csv

In [3]:
rawData = pd.read_csv("data/LeagueofLegends.csv")

## 데이터 탐색

In [4]:
blueWins = rawData[rawData['bResult'] == 1] # 블루진영 이긴팀
redWins = rawData[rawData['rResult'] == 1] # 레드진영 이긴팀

In [6]:
blueWins.head()

,MatchHistory,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport
0,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,...,Balls,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation
2,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,...,Hauntzer,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu
4,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,...,CaliTrlolz8,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8
6,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CST,1,0,WFX,39,Cris,...,Flaresz,Renekton,ShorterACE,LeeSin,Pobelter,Leblanc,Altec,Tristana,Nami,Gleeb
7,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TL,1,0,CLG,43,Quas,...,Benny,Rumble,Xmithie,Rengar,Link,Leblanc,Doublelift,Sivir,Blitzcrank,Aphromoo

In [7]:
redWins.head()

,MatchHistory,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport
1,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,...,Gamsu,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD
3,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,...,Quas,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial
5,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,DIG,0,1,TIP,24,Gamsu,...,Rhux,Gnar,Rush,JarvanIV,XiaoWeiXiao,Lulu,Apollo,Corki,Thresh,Adrian
8,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,C9,0,1,GV,41,Balls,...,Hauntzer,Kassadin,Saintvicious,Vi,Keane,Zed,Cop,Corki,Morgana,Bunny FuFuu
13,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TIP,0,1,CLG,31,Impact,...,ZionSpartan,Sion,Xmithie,JarvanIV,Link,Cassiopeia,Doublelift,Kalista,Blitzcrank,Aphromoo

In [11]:
# 각 진영의 팀별 이긴횟수
bluewinsByTeam = blueWins[['blueTeamTag', 'bResult']].groupby('blueTeamTag', as_index=False).count()
bluewinsByTeam.sort_values('bResult', ascending=False).head()

   blueTeamTag  bResult
77         SKT      107
98          kt       77
12         CLG       71
89         TSM       70
31         H2K       67

In [12]:
redwinsByTeam = redWins[['redTeamTag', 'rResult']].groupby('redTeamTag', as_index=False).count()
redwinsByTeam.sort_values('rResult', ascending=False).head()

   redTeamTag  rResult
76        SKT      106
97         kt       69
87        TSM       65
7          C9       62
94        ahq       57

## 3. 포지션 별 승리 퍼센트 확인

### 3.1 미드 챔프

In [13]:
blueWinsByMiddleChamp = blueWins[['blueMiddleChamp', 'bResult']].groupby('blueMiddleChamp', as_index=False).count()

In [18]:
blueWinsByMiddleChamp.rename(columns={'blueMiddleChamp' : 'middleChamp'}, inplace=True)

In [19]:
blueWinsByMiddleChamp.head()

   middleChamp  bResult
0         Ahri       83
1       Anivia       16
2  AurelionSol       15
3         Azir      171
4      Camille        1

In [20]:
redWinsByMiddleChamp = redWins[['redMiddleChamp', 'rResult']].groupby('redMiddleChamp', as_index=False).count()
redWinsByMiddleChamp.rename(columns={'redMiddleChamp' : 'middleChamp'}, inplace=True)

In [22]:
winsByMiddleChamp = pd.merge(blueWinsByMiddleChamp, redWinsByMiddleChamp, how='left', on='middleChamp')
winsByMiddleChamp['totalWins'] = winsByMiddleChamp.bResult + winsByMiddleChamp.rResult
winsByMiddleChamp.sort_values('totalWins', ascending=False).head()

   middleChamp  bResult  rResult  totalWins
44      Viktor      181    157.0      338.0
3         Azir      171    133.0      304.0
22     Leblanc      114    108.0      222.0
34        Ryze      115     81.0      196.0
31     Orianna       96     87.0      183.0

In [24]:
# 플레이한 게임횟수 별 챔피언(블루팀)
blueGamesPlayedMiddleChamp = rawData[['blueMiddleChamp', 'MatchHistory']].groupby('blueMiddleChamp', as_index=False).count()
blueGamesPlayedMiddleChamp.rename(columns = {'MatchHistory' : 'blueGamesPlayed', 'blueMiddleChamp' : 'middleChamp'}, inplace=True)
# 플레이한 게임횟수 별 챔피언(레드팀)
redGamesPlayedMiddleChamp = rawData[['redMiddleChamp', 'MatchHistory']].groupby('redMiddleChamp', as_index=False).count()
redGamesPlayedMiddleChamp.rename(columns={'MatchHistory' : 'redGamesPlayed', 'redMiddleChamp': 'middleChamp'}, inplace=True)

# 데이터 합치기
totalGamesPlayedMiddleChamp = pd.merge(blueGamesPlayedMiddleChamp, redGamesPlayedMiddleChamp, how='left', on='middleChamp')
totalGamesPlayedMiddleChamp['totalGamesPlayed'] = totalGamesPlayedMiddleChamp.blueGamesPlayed+totalGamesPlayedMiddleChamp.redGamesPlayed
totalGamesPlayedMiddleChamp.sort_values('totalGamesPlayed', ascending=False).head()

   middleChamp  blueGamesPlayed  redGamesPlayed  totalGamesPlayed
48      Viktor              378             386               764
3         Azir              306             267               573
22     Leblanc              215             219               434
38        Ryze              197             178               375
33     Orianna              182             184               366

In [26]:
# 챔피언 승리횟수 합치기 
winningPercentByMiddleChamp = pd.merge(winsByMiddleChamp, totalGamesPlayedMiddleChamp, how='left', on='middleChamp')
winningPercentByMiddleChamp.drop(['bResult', 'rResult', 'blueGamesPlayed', 'redGamesPlayed'], axis=1, inplace=True)
winningPercentByMiddleChamp = winningPercentByMiddleChamp.fillna(0)

# 승률 계산
winningPercentByMiddleChamp['champWinPercentage'] = (winningPercentByMiddleChamp.totalWins / winningPercentByMiddleChamp.totalGamesPlayed)
winningPercentByMiddleChamp = winningPercentByMiddleChamp.fillna(0)
winningPercentByMiddleChamp.sort_values('champWinPercentage', ascending=False)

    middleChamp  totalWins  totalGamesPlayed  champWinPercentage
20       Kennen        3.0                 3            1.000000
32        Quinn       13.0                19            0.684211
13       Irelia        8.0                12            0.666667
4       Camille        2.0                 3            0.666667
26     Malzahar       73.0               112            0.651786
21       KogMaw       22.0                34            0.647059
14     JarvanIV        7.0                11            0.636364
48          Zed      130.0               205            0.634146
2   AurelionSol       29.0                46            0.630435
35        Swain       27.0                46            0.586957
11         Fizz       43.0                79            0.544304
50       Zilean       77.0               142            0.542254
23    Lissandra      158.0               292            0.541096
18     Kassadin      101.0               187            0.540107
8         Diana       25.0                47            0.531915
3          Azir      304.0               573            0.530541
36       Syndra      132.0               251            0.525896
34         Ryze      196.0               375            0.522667
41        Varus      101.0               197            0.512690
22      Leblanc      222.0               434            0.511521
39  TwistedFate      116.0               227            0.511013
37      Taliyah       71.0               139            0.510791
7         Corki      158.0               311            0.508039
31      Orianna      183.0               366            0.500000
38        Talon       25.0                50            0.500000
19     Katarina       12.0                24            0.500000
1        Anivia       41.0                82            0.500000
5    Cassiopeia      176.0               356            0.494382
45     Vladimir      168.0               340            0.494118
0          Ahri      156.0               318            0.490566
24         Lulu      139.0               290            0.479310
40        Urgot       10.0                21            0.476190
17      Karthus       14.0                30            0.466667
47        Yasuo       25.0                55            0.454545
44       Viktor      338.0               764            0.442408
6       Chogath       18.0                41            0.439024
10       Ezreal       44.0               105            0.419048
43       Velkoz        5.0                12            0.416667
46       Xerath       33.0                80            0.412500
15        Jayce       76.0               185            0.410811
16        Karma       53.0               131            0.404580
12    Gangplank       21.0                52            0.403846
9          Ekko       41.0               104            0.394231
25          Lux       17.0                44            0.386364
29      Morgana        6.0                21            0.285714
49        Ziggs        5.0                19            0.263158
42       Veigar        0.0                11            0.000000
27     MasterYi        0.0                 3            0.000000
33        Riven        0.0                 3            0.000000
28  Mordekaiser        0.0                 2            0.000000
30     Nautilus        0.0                 7            0.000000

### 3.2 탑 챔프

In [27]:
## 불루진영 승리 횟수 계산
blueWinsByTopChamp = blueWins[['blueTopChamp', 'bResult']].groupby('blueTopChamp', as_index = False).count()
blueWinsByTopChamp.rename(columns = {'blueTopChamp': 'topChamp'}, inplace = True)

## 레드진영 승리 횟수 계산
redWinsByTopChamp = redWins[['redTopChamp', 'rResult']].groupby('redTopChamp', as_index = False).count()
redWinsByTopChamp.rename(columns = {'redTopChamp': 'topChamp'}, inplace = True)

## 블루/레드 진영 합치기
winsByTopChamp = pd.merge(blueWinsByTopChamp, redWinsByTopChamp, how = 'left', on = 'topChamp')
winsByTopChamp['totalWins'] = winsByTopChamp.bResult + winsByTopChamp.rResult
winsByTopChamp.sort_values('totalWins', ascending = False).head()

    topChamp  bResult  rResult  totalWins
29    Maokai      300    270.0      570.0
11      Gnar      166    165.0      331.0
43    Rumble      185    126.0      311.0
45      Shen      144    119.0      263.0
31  Nautilus      117    107.0      224.0

In [28]:
## 블루 진영의 챔프별 전체게임수
blueGamesPlayedTopChamp = rawData[['blueTopChamp', 'MatchHistory']].groupby('blueTopChamp', as_index = False).count()
blueGamesPlayedTopChamp.rename(columns = {'MatchHistory': 'blueGamesPlayed', 'blueTopChamp': 'topChamp'}, inplace = True)

## 레드 진영의 챔프별 전체게임수
redGamesPlayedTopChamp = rawData[['redTopChamp', 'MatchHistory']].groupby('redTopChamp', as_index = False).count()
redGamesPlayedTopChamp.rename(columns = {'MatchHistory': 'redGamesPlayed', 'redTopChamp': 'topChamp'}, inplace = True)

## 블루/레드 진영 합치기
totalGamesPlayedTopChamp = pd.merge(blueGamesPlayedTopChamp, redGamesPlayedTopChamp, how = 'left', on = 'topChamp')
totalGamesPlayedTopChamp['totalGamesPlayed'] = totalGamesPlayedTopChamp.blueGamesPlayed + totalGamesPlayedTopChamp.redGamesPlayed
totalGamesPlayedTopChamp.sort_values('totalGamesPlayed', ascending = False).head()

   topChamp  blueGamesPlayed  redGamesPlayed  totalGamesPlayed
34   Maokai              514           553.0            1067.0
14     Gnar              314           365.0             679.0
50   Rumble              312           279.0             591.0
52     Shen              291           241.0             532.0
43    Poppy              217           229.0             446.0

In [58]:
## 챔피언 승리/전체 게임수 합치기
winningPercentageByTopChamp = pd.merge(winsByTopChamp, totalGamesPlayedTopChamp, how = 'left', on = 'topChamp')
winningPercentageByTopChamp.drop(['bResult', 'rResult', 'blueGamesPlayed', 'redGamesPlayed'], axis = 1, inplace = True)
winningPercentageByTopChamp = winningPercentageByTopChamp.fillna(0)

## 승률 계산
winningPercentageByTopChamp['champWinPercentage'] = (winningPercentageByTopChamp.totalWins / winningPercentageByTopChamp.totalGamesPlayed)
winningPercentageByTopChamp = winningPercentageByTopChamp.fillna(0) ## to deal w/ division by 0
winningPercentageByTopChamp.sort_values('champWinPercentage', ascending = False)

      topChamp  totalWins  totalGamesPlayed  champWinPercentage
51     Taliyah        2.0               2.0            1.000000
36    Pantheon        4.0               4.0            1.000000
4      Chogath        5.0               6.0            0.833333
28    Malzahar        4.0               5.0            0.800000
56         Zed        3.0               4.0            0.750000
1         Azir        4.0               6.0            0.666667
39      Rammus       20.0              31.0            0.645161
30     Morgana       17.0              27.0            0.629630
54       Yasuo       10.0              16.0            0.625000
2      Camille       44.0              73.0            0.602740
47      Singed        9.0              15.0            0.600000
42       Riven       20.0              34.0            0.588235
15      Illaoi       12.0              21.0            0.571429
20    Kassadin       13.0              23.0            0.565217
17    JarvanIV       10.0              18.0            0.555556
18         Jax       37.0              69.0            0.536232
29      Maokai      570.0            1067.0            0.534208
7         Ekko      164.0             307.0            0.534202
43      Rumble      311.0             591.0            0.526227
48        Sion       33.0              63.0            0.523810
9         Fizz       67.0             128.0            0.523438
44        Ryze       68.0             130.0            0.523077
52     Trundle      179.0             345.0            0.518841
10   Gangplank      126.0             247.0            0.510121
50   TahmKench       31.0              61.0            0.508197
31    Nautilus      224.0             442.0            0.506787
8        Fiora      114.0             226.0            0.504425
5       Darius       20.0              40.0            0.500000
16      Irelia      139.0             278.0            0.500000
13      Graves       19.0              38.0            0.500000
45        Shen      263.0             532.0            0.494361
11        Gnar      331.0             679.0            0.487482
27    Malphite       36.0              74.0            0.486486
37       Poppy      215.0             446.0            0.482063
38       Quinn       16.0              34.0            0.470588
21       Kayle        7.0              15.0            0.466667
26        Lulu       60.0             129.0            0.465116
53    Vladimir       18.0              39.0            0.461538
19       Jayce       33.0              73.0            0.452055
22      Kennen       52.0             117.0            0.444444
49       Swain       22.0              50.0            0.440000
25   Lissandra       52.0             119.0            0.436975
14     Hecarim       88.0             202.0            0.435644
35        Olaf       22.0              51.0            0.431373
12      Gragas       53.0             124.0            0.427419
40    Renekton       50.0             124.0            0.403226
55      Yorick        2.0               5.0            0.400000
46     Shyvana       12.0              31.0            0.387097
24        Kled        7.0              19.0            0.368421
32     Nidalee        2.0               9.0            0.222222
6      DrMundo        9.0              46.0            0.195652
23      Khazix        0.0               2.0            0.000000
41      Rengar        0.0               2.0            0.000000
3   Cassiopeia        0.0               9.0            0.000000
34        Nunu        0.0               0.0            0.000000
33    Nocturne        0.0               0.0            0.000000
0      Alistar        0.0               0.0            0.000000

### 3.3 원딜 챔프

In [30]:
## 블루진영 승리횟수
blueWinsByADCChamp = blueWins[['blueADCChamp', 'bResult']].groupby('blueADCChamp', as_index = False).count()
blueWinsByADCChamp.rename(columns = {'blueADCChamp': 'adcChamp'}, inplace = True)

## 레드진영 승리횟수
redWinsByADCChamp = redWins[['redADCChamp', 'rResult']].groupby('redADCChamp', as_index = False).count()
redWinsByADCChamp.rename(columns = {'redADCChamp': 'adcChamp'}, inplace = True)

## 합치기
winsByADCChamp = pd.merge(blueWinsByADCChamp, redWinsByADCChamp, how = 'left', on = 'adcChamp')
winsByADCChamp['totalWins'] = winsByADCChamp.bResult + winsByADCChamp.rResult
winsByADCChamp.sort_values('totalWins', ascending = False).head()

   adcChamp  bResult  rResult  totalWins
14    Sivir      309    317.0      626.0
11   Lucian      238    207.0      445.0
0      Ashe      213    183.0      396.0
6      Jhin      205    171.0      376.0
4    Ezreal      181    149.0      330.0

In [31]:
## 블루진영 총 게임횟수
blueGamesPlayedADCChamp = rawData[['blueADCChamp', 'MatchHistory']].groupby('blueADCChamp', as_index = False).count()
blueGamesPlayedADCChamp.rename(columns = {'MatchHistory': 'blueGamesPlayed', 'blueADCChamp': 'adcChamp'}, inplace = True)

## 레드진영 총 게임횟수
redGamesPlayedADCChamp = rawData[['redADCChamp', 'MatchHistory']].groupby('redADCChamp', as_index = False).count()
redGamesPlayedADCChamp.rename(columns = {'MatchHistory': 'redGamesPlayed', 'redADCChamp': 'adcChamp'}, inplace = True)

## 합치기
totalGamesPlayedADCChamp = pd.merge(blueGamesPlayedADCChamp, redGamesPlayedADCChamp, how = 'left', on = 'adcChamp')
totalGamesPlayedADCChamp['totalGamesPlayed'] = totalGamesPlayedADCChamp.blueGamesPlayed + totalGamesPlayedADCChamp.redGamesPlayed
totalGamesPlayedADCChamp.sort_values('totalGamesPlayed', ascending = False).head()

   adcChamp  blueGamesPlayed  redGamesPlayed  totalGamesPlayed
14    Sivir              556           615.0            1171.0
11   Lucian              468           472.0             940.0
0      Ashe              366           395.0             761.0
6      Jhin              364           362.0             726.0
4    Ezreal              343           366.0             709.0

In [32]:
## 챔프별 승리횟수 및 전체게임수 합침
winningPercentageByADCChamp = pd.merge(winsByADCChamp, totalGamesPlayedADCChamp, how = 'left', on = 'adcChamp')
winningPercentageByADCChamp.drop(['bResult', 'rResult', 'blueGamesPlayed', 'redGamesPlayed'], axis = 1, inplace = True)
winningPercentageByADCChamp = winningPercentageByADCChamp.fillna(0)

## 승률계산
winningPercentageByADCChamp['champWinPercentage'] = (winningPercentageByADCChamp.totalWins / winningPercentageByADCChamp.totalGamesPlayed)
winningPercentageByADCChamp = winningPercentageByADCChamp.fillna(0) ## to deal w/ division by 0
winningPercentageByADCChamp.sort_values('champWinPercentage', ascending = False)

       adcChamp  totalWins  totalGamesPlayed  champWinPercentage
9        Kennen        8.0              12.0            0.666667
17        Urgot       36.0              61.0            0.590164
8       Kalista      323.0             582.0            0.554983
14        Sivir      626.0            1171.0            0.534586
0          Ashe      396.0             761.0            0.520368
6          Jhin      376.0             726.0            0.517906
20        Ziggs       20.0              39.0            0.512821
5        Graves       72.0             141.0            0.510638
16       Twitch       35.0              69.0            0.507246
3        Draven       15.0              30.0            0.500000
1       Caitlyn      186.0             373.0            0.498660
7          Jinx       86.0             175.0            0.491429
19        Vayne       67.0             137.0            0.489051
12  MissFortune       19.0              39.0            0.487179
2         Corki      272.0             567.0            0.479718
11       Lucian      445.0             940.0            0.473404
4        Ezreal      330.0             709.0            0.465444
18        Varus      142.0             309.0            0.459547
15     Tristana       94.0             219.0            0.429224
10       KogMaw       91.0             216.0            0.421296
13  Mordekaiser        0.0               0.0            0.000000

### 3.4 서폿 챔프

In [33]:
## 블루진영 승리횟수
blueWinsBySupportChamp = blueWins[['blueSupportChamp', 'bResult']].groupby('blueSupportChamp', as_index = False).count()
blueWinsBySupportChamp.rename(columns = {'blueSupportChamp': 'supportChamp'}, inplace = True)

## 레드진영 승리횟수
redWinsBySupportChamp = redWins[['redSupportChamp', 'rResult']].groupby('redSupportChamp', as_index = False).count()
redWinsBySupportChamp.rename(columns = {'redSupportChamp': 'supportChamp'}, inplace = True)

## 합치기
winsBySupportChamp = pd.merge(blueWinsBySupportChamp, redWinsBySupportChamp, how = 'left', on = 'supportChamp')
winsBySupportChamp['totalWins'] = winsBySupportChamp.bResult + winsBySupportChamp.rResult
winsBySupportChamp.sort_values('totalWins', ascending = False).head()

   supportChamp  bResult  rResult  totalWins
0       Alistar      254    225.0      479.0
29       Thresh      230    214.0      444.0
5         Braum      226    198.0      424.0
10        Karma      162    157.0      319.0
9         Janna      128    124.0      252.0

In [34]:
## 블루진영 총게임수
blueGamesPlayedSupportChamp = rawData[['blueSupportChamp', 'MatchHistory']].groupby('blueSupportChamp', as_index = False).count()
blueGamesPlayedSupportChamp.rename(columns = {'MatchHistory': 'blueGamesPlayed', 'blueSupportChamp': 'supportChamp'}, inplace = True)

## 레드진영 총게임수
redGamesPlayedSupportChamp = rawData[['redSupportChamp', 'MatchHistory']].groupby('redSupportChamp', as_index = False).count()
redGamesPlayedSupportChamp.rename(columns = {'MatchHistory': 'redGamesPlayed', 'redSupportChamp': 'supportChamp'}, inplace = True)

## 합치기
totalGamesPlayedSupportChamp = pd.merge(blueGamesPlayedSupportChamp, redGamesPlayedSupportChamp, how = 'left', on = 'supportChamp')
totalGamesPlayedSupportChamp['totalGamesPlayed'] = totalGamesPlayedSupportChamp.blueGamesPlayed + totalGamesPlayedSupportChamp.redGamesPlayed
totalGamesPlayedSupportChamp.sort_values('totalGamesPlayed', ascending = False).head()

   supportChamp  blueGamesPlayed  redGamesPlayed  totalGamesPlayed
0       Alistar              467           507.0             974.0
5         Braum              472           458.0             930.0
34       Thresh              414           432.0             846.0
12        Karma              320           362.0             682.0
11        Janna              226           256.0             482.0

In [35]:
## 승리횟수, 게임수 합침
winningPercentageBySupportChamp = pd.merge(winsBySupportChamp, totalGamesPlayedSupportChamp, how = 'left', on = 'supportChamp')
winningPercentageBySupportChamp.drop(['bResult', 'rResult', 'blueGamesPlayed', 'redGamesPlayed'], axis = 1, inplace = True)
winningPercentageBySupportChamp = winningPercentageBySupportChamp.fillna(0)

## 승률 계산
winningPercentageBySupportChamp['champWinPercentage'] = (winningPercentageBySupportChamp.totalWins / winningPercentageBySupportChamp.totalGamesPlayed)
winningPercentageBySupportChamp = winningPercentageBySupportChamp.fillna(0) ## to deal w/ division by 0
winningPercentageBySupportChamp.sort_values('champWinPercentage', ascending = False)

   supportChamp  totalWins  totalGamesPlayed  champWinPercentage
23         Shen       23.0              35.0            0.657143
4         Brand        7.0              11.0            0.636364
11       Kennen       23.0              38.0            0.605263
28        Taric       64.0             109.0            0.587156
17     Malzahar      114.0             204.0            0.558824
26       Soraka       48.0              86.0            0.558140
6       Camille        5.0               9.0            0.555556
27    TahmKench      140.0             253.0            0.553360
19      Morgana      154.0             284.0            0.542254
18  MissFortune       41.0              78.0            0.525641
29       Thresh      444.0             846.0            0.524823
1         Annie      124.0             237.0            0.523207
9         Janna      252.0             482.0            0.522822
30      Trundle      142.0             274.0            0.518248
2          Bard      184.0             365.0            0.504110
8        Gragas        3.0               6.0            0.500000
0       Alistar      479.0             974.0            0.491786
34         Zyra      153.0             312.0            0.490385
21     Nautilus      126.0             260.0            0.484615
15         Lulu      116.0             241.0            0.481328
20         Nami      154.0             325.0            0.473846
13        Leona       59.0             125.0            0.472000
10        Karma      319.0             682.0            0.467742
5         Braum      424.0             930.0            0.455914
31       Veigar        5.0              11.0            0.454545
3    Blitzcrank        9.0              20.0            0.450000
33       Zilean        8.0              21.0            0.380952
25         Sona        8.0              21.0            0.380952
22        Poppy        9.0              24.0            0.375000
32       Velkoz        0.0               0.0            0.000000
16          Lux        0.0               0.0            0.000000
7         Elise        0.0               0.0            0.000000
24         Sion        0.0               0.0            0.000000
14    Lissandra        0.0               4.0            0.000000
12       LeeSin        0.0               0.0            0.000000

### 정글 챔프

In [36]:
## 블루진영 승리횟수
blueWinsByJungleChamp = blueWins[['blueJungleChamp', 'bResult']].groupby('blueJungleChamp', as_index = False).count()
blueWinsByJungleChamp.rename(columns = {'blueJungleChamp': 'jungleChamp'}, inplace = True)

## 레드진영 승리횟수
redWinsByJungleChamp = redWins[['redJungleChamp', 'rResult']].groupby('redJungleChamp', as_index = False).count()
redWinsByJungleChamp.rename(columns = {'redJungleChamp': 'jungleChamp'}, inplace = True)

## 합치기
winsByJungleChamp = pd.merge(blueWinsByJungleChamp, redWinsByJungleChamp, how = 'left', on = 'jungleChamp')
winsByJungleChamp['totalWins'] = winsByJungleChamp.bResult + winsByJungleChamp.rResult
winsByJungleChamp.sort_values('totalWins', ascending = False).head()

   jungleChamp  bResult  rResult  totalWins
24      RekSai      359    293.0      652.0
7       Gragas      270    249.0      519.0
4        Elise      247    250.0      497.0
14      LeeSin      176    143.0      319.0
17     Nidalee      177    108.0      285.0

In [37]:
## 블루진영 총게임수
blueGamesPlayedJungleChamp = rawData[['blueJungleChamp', 'MatchHistory']].groupby('blueJungleChamp', as_index = False).count()
blueGamesPlayedJungleChamp.rename(columns = {'MatchHistory': 'blueGamesPlayed', 'blueJungleChamp': 'jungleChamp'}, inplace = True)

## 레드진영 총게임수
redGamesPlayedJungleChamp = rawData[['redJungleChamp', 'MatchHistory']].groupby('redJungleChamp', as_index = False).count()
redGamesPlayedJungleChamp.rename(columns = {'MatchHistory': 'redGamesPlayed', 'redJungleChamp': 'jungleChamp'}, inplace = True)

## 합치기
totalGamesPlayedJungleChamp = pd.merge(blueGamesPlayedJungleChamp, redGamesPlayedJungleChamp, how = 'left', on = 'jungleChamp')
totalGamesPlayedJungleChamp['totalGamesPlayed'] = totalGamesPlayedJungleChamp.blueGamesPlayed + totalGamesPlayedJungleChamp.redGamesPlayed
totalGamesPlayedJungleChamp.sort_values('totalGamesPlayed', ascending = False).head()

   jungleChamp  blueGamesPlayed  redGamesPlayed  totalGamesPlayed
26      RekSai              672           666.0            1338.0
5        Elise              472           527.0             999.0
9       Gragas              474           496.0             970.0
16      LeeSin              319           347.0             666.0
10      Graves              303           284.0             587.0

In [38]:
## 승리횟수, 총게임수 합치기 
winningPercentageByJungleChamp = pd.merge(winsByJungleChamp, totalGamesPlayedJungleChamp, how = 'left', on = 'jungleChamp')
winningPercentageByJungleChamp.drop(['bResult', 'rResult', 'blueGamesPlayed', 'redGamesPlayed'], axis = 1, inplace = True)
winningPercentageByJungleChamp = winningPercentageByJungleChamp.fillna(0)

## 승률
winningPercentageByJungleChamp['champWinPercentage'] = (winningPercentageByJungleChamp.totalWins / winningPercentageByJungleChamp.totalGamesPlayed)
winningPercentageByJungleChamp = winningPercentageByJungleChamp.fillna(0) ## to deal w/ division by 0
winningPercentageByJungleChamp.sort_values('champWinPercentage', ascending = False)

     jungleChamp  totalWins  totalGamesPlayed  champWinPercentage
34       Warwick        5.0               6.0            0.833333
36           Zac       18.0              28.0            0.642857
30       Skarner        6.0              10.0            0.600000
33            Vi       37.0              63.0            0.587302
29       Shyvana        4.0               7.0            0.571429
17       Nidalee      285.0             516.0            0.552326
10         Ivern       29.0              53.0            0.547170
25        Rengar      175.0             326.0            0.536810
7         Gragas      519.0             970.0            0.535052
12        Khazix      199.0             384.0            0.518229
20          Olaf       77.0             152.0            0.506579
19          Nunu       50.0              99.0            0.505051
31       Trundle        4.0               8.0            0.500000
21      Pantheon        3.0               6.0            0.500000
4          Elise      497.0             999.0            0.497497
11      JarvanIV      118.0             238.0            0.495798
24        RekSai      652.0            1338.0            0.487294
27       Sejuani       72.0             150.0            0.480000
3           Ekko       35.0              73.0            0.479452
14        LeeSin      319.0             666.0            0.478979
9        Hecarim       44.0              93.0            0.473118
8         Graves      276.0             587.0            0.470187
13       Kindred      120.0             271.0            0.442804
32          Udyr        6.0              14.0            0.428571
26        Rumble        9.0              21.0            0.428571
5        Evelynn       59.0             147.0            0.401361
2        DrMundo        3.0               8.0            0.375000
35       XinZhao        0.0               0.0            0.000000
0        Alistar        0.0               0.0            0.000000
28         Shaco        0.0               5.0            0.000000
23        Rammus        0.0               0.0            0.000000
22         Poppy        0.0               3.0            0.000000
1          Amumu        0.0               4.0            0.000000
16      Nautilus        0.0               7.0            0.000000
15   Mordekaiser        0.0               0.0            0.000000
6   FiddleSticks        0.0               2.0            0.000000
18      Nocturne        0.0              13.0            0.000000

### 4. 챔피언 포지션별 승률 summary

In [40]:
## 모든 챔피언 list
middleChampions = winningPercentByMiddleChamp[['middleChamp']].rename(columns = {'middleChamp': 'champ'})
topChampions = winningPercentageByTopChamp[['topChamp']].rename(columns = {'topChamp': 'champ'})
adcChampions = winningPercentageByADCChamp[['adcChamp']].rename(columns = {'adcChamp': 'champ'})
supportChampions = winningPercentageBySupportChamp[['supportChamp']].rename(columns = {'supportChamp': 'champ'})
jungleChampions = winningPercentageByJungleChamp[['jungleChamp']].rename(columns = {'jungleChamp': 'champ'})

## 중복된 이름 제외한 나머지 챔피언에 대해 합치기
frames = [middleChampions, topChampions, adcChampions, supportChampions, jungleChampions]
allChampions = pd.concat(frames)
allChampions = allChampions.drop_duplicates().sort_values('champ').reset_index(drop = True)

In [41]:
allChampions.head()

     champ
0     Ahri
1  Alistar
2    Amumu
3   Anivia
4    Annie

In [43]:
## 포지션별 챔피언 승률 전체 데이터 합치기
allChampionsPositionWinPercentage = allChampions
allChampionsPositionWinPercentage = pd.merge(allChampionsPositionWinPercentage, winningPercentByMiddleChamp[['middleChamp', 'champWinPercentage']].rename(columns = {'middleChamp': 'champ', 'champWinPercentage': 'middleWinPercentage'}), how = 'left', on = 'champ')
allChampionsPositionWinPercentage = pd.merge(allChampionsPositionWinPercentage, winningPercentageByTopChamp[['topChamp', 'champWinPercentage']].rename(columns = {'topChamp': 'champ', 'champWinPercentage': 'topWinPercentage'}), how = 'left', on = 'champ')
allChampionsPositionWinPercentage = pd.merge(allChampionsPositionWinPercentage, winningPercentageByADCChamp[['adcChamp', 'champWinPercentage']].rename(columns = {'adcChamp': 'champ', 'champWinPercentage': 'adcWinPercentage'}), how = 'left', on = 'champ')
allChampionsPositionWinPercentage = pd.merge(allChampionsPositionWinPercentage, winningPercentageBySupportChamp[['supportChamp', 'champWinPercentage']].rename(columns = {'supportChamp': 'champ', 'champWinPercentage': 'supportWinPercentage'}), how = 'left', on = 'champ')
allChampionsPositionWinPercentage = pd.merge(allChampionsPositionWinPercentage, winningPercentageByJungleChamp[['jungleChamp', 'champWinPercentage']].rename(columns = {'jungleChamp': 'champ', 'champWinPercentage': 'jungleWinPercentage'}), how = 'left', on = 'champ')

In [44]:
allChampionsPositionWinPercentage = allChampionsPositionWinPercentage.fillna(0)

In [45]:
allChampionsPositionWinPercentage

,champ,middleWinPercentage,topWinPercentage,adcWinPercentage,supportWinPercentage,jungleWinPercentage
0,Ahri,0.490566,0.000000,0.000000,0.000000,0.000000
1,Alistar,0.000000,0.000000,0.000000,0.491786,0.000000
2,Amumu,0.000000,0.000000,0.000000,0.000000,0.000000
3,Anivia,0.500000,0.000000,0.000000,0.000000,0.000000
4,Annie,0.000000,0.000000,0.000000,0.523207,0.000000
5,Ashe,0.000000,0.000000,0.520368,0.000000,0.000000
6,AurelionSol,0.630435,0.000000,0.000000,0.000000,0.000000
7,Azir,0.530541,0.666667,0.000000,0.000000,0.000000
8,Bard,0.000000,0.000000,0.000000,0.504110,0.000000
9,Blitzcrank,0.000000,0.000000,0.000000,0.450000,0.000000
10,Brand,0.000000,0.000000,0.000000,0.636364,0.000000
11,Braum,0.000000,0.000000,0.000000,0.455914,0.000000
12,Caitlyn,0.000000,0.000000,0.498660,0.000000,0.000000
13,Camille,0.666667,0.602740,0.000000,0.555556,0.000000
14,Cassiopeia,0.494382,0.000000,0.000000,0.000000,0.000000
15,Chogath,0.439024,0.833333,0.000000,0.000000,0.000000
16,Corki,0.508039,0.000000,0.479718,0.000000,0.000000
17,Darius,0.000000,0.500000,0.000000,0.000000,0.000000
18,Diana,0.531915,0.000000,0.000000,0.000000,0.000000
19,DrMundo,0.000000,0.195652,0.000000,0.000000,0.375000
20,Draven,0.000000,0.000000,0.500000,0.000000,0.000000
21,Ekko,0.394231,0.534202,0.000000,0.000000,0.479452
22,Elise,0.000000,0.000000,0.000000,0.000000,0.497497
23,Evelynn,0.000000,0.000000,0.000000,0.000000,0.401361
24,Ezreal,0.419048,0.000000,0.465444,0.000000,0.000000
25,FiddleSticks,0.000000,0.000000,0.000000,0.000000,0.000000
26,Fiora,0.000000,0.504425,0.000000,0.000000,0.000000
27,Fizz,0.544304,0.523438,0.000000,0.000000,0.000000
28,Gangplank,0.403846,0.510121,0.000000,0.000000,0.000000
29,Gnar,0.000000,0.487482,0.000000,0.000000,0.000000
...,...,...,...,...,...,...
94,Swain,0.586957,0.440000,0.000000,0.000000,0.000000
95,Syndra,0.525896,0.000000,0.000000,0.000000,0.000000
96,TahmKench,0.000000,0.508197,0.000000,0.553360,0.000000
97,Taliyah,0.510791,1.000000,0.000000,0.000000,0.000000
98,Talon,0.500000,0.000000,0.000000,0.000000,0.000000
99,Taric,0.000000,0.000000,0.000000,0.587156,0.000000
100,Thresh,0.000000,0.000000,0.000000,0.524823,0.000000
101,Tristana,0.000000,0.000000,0.429224,0.000000,0.000000
102,Trundle,0.000000,0.518841,0.000000,0.518248,0.500000
103,TwistedFate,0.511013,0.000000,0.000000,0.000000,0.000000
104,Twitch,0.000000,0.000000,0.507246,0.000000,0.000000
105,Udyr,0.000000,0.000000,0.000000,0.000000,0.428571
106,Urgot,0.476190,0.000000,0.590164,0.000000,0.000000
107,Varus,0.512690,0.000000,0.459547,0.000000,0.000000
108,Vayne,0.000000,0.000000,0.489051,0.000000,0.000000
109,Veigar,0.000000,0.000000,0.000000,0.454545,0.000000
110,Velkoz,0.416667,0.000000,0.000000,0.000000,0.000000
111,Vi,0.000000,0.000000,0.000000,0.000000,0.587302
112,Viktor,0.442408,0.000000,0.000000,0.000000,0.000000
113,Vladimir,0.494118,0.461538,0.000000,0.000000,0.000000
114,Warwick,0.000000,0.000000,0.000000,0.000000,0.833333
115,Xerath,0.412500,0.000000,0.000000,0.000000,0.000000
116,XinZhao,0.000000,0.000000,0.000000,0.000000,0.000000
117,Yasuo,0.454545,0.625000,0.000000,0.000000,0.000000
118,Yorick,0.000000,0.400000,0.000000,0.000000,0.000000
119,Zac,0.000000,0.000000,0.000000,0.000000,0.642857
120,Zed,0.634146,0.750000,0.000000,0.000000,0.000000
121,Ziggs,0.263158,0.000000,0.512821,0.000000,0.000000
122,Zilean,0.542254,0.000000,0.000000,0.380952,0.000000
123,Zyra,0.000000,0.000000,0.000000,0.490385,0.000000