## 6.1 텍스트 파일 이용

In [3]:
import pandas as pd
import numpy as np

In [1]:
!cat ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
df = pd.read_csv('ch06/ex1.csv')

In [5]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_table('ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

컬럼이 없는 데이터의 경우

In [7]:
!cat ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
pd.read_csv('ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [10]:
pd.read_csv('ch06/ex2.csv', names=['a','b','c','d','message']) # names : column 명

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
names = ['a','b','c','d','message']
pd.read_csv('ch06/ex2.csv', names=names, index_col='message') # message 컬럼을 index로 활용

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

계층적 색인

In [14]:
!cat ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [15]:
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

공백이나 다른 구분자로 구분한 경우 read_table

In [16]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [18]:
result = pd.read_table('ch06/ex3.txt', sep='\s+') # 공백문자
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

파일에 데이터외의 다른 내용이 있을경우 제외할 로우 선택

In [19]:
!cat ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [20]:
pd.read_csv('ch06/ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

누락된 값 처리

In [21]:
!cat ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [22]:
result = pd.read_csv('ch06/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [32]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [30]:
# na_values 옵션
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [31]:
sentinels = {'message' : ['foo', 'NA'], 'something' : ['two']}
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

참고(read_csv parameter) : http://pandas.pydata.org/pandas-docs/version/0.18/generated/pandas.read_csv.html

### 6.1.1 텍스트 파일 조금씩 읽어오기

In [33]:
result = pd.read_csv('ch06/ex6.csv', nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [39]:
# 파일을 여러조각으로 나누기
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
# tot = tot.order(ascending=False)
tot = tot.sort_values(ascending=False)

In [41]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### 6.1.2 데이터를 텍스트 형식으로 기록

In [42]:
data = pd.read_csv('ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [44]:
data.to_csv('ch06/out.csv')

In [45]:
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [47]:
import sys

In [48]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [49]:
# row와 행의 이름이 없이
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [50]:
# series to_csv
dates = pd.date_range('1/1/2017', periods=7)
ts = pd.Series(np.arange(7), index=dates)

In [51]:
ts.to_csv('ch06/tseries.csv')

In [52]:
!cat ch06/tseries.csv

2017-01-01,0
2017-01-02,1
2017-01-03,2
2017-01-04,3
2017-01-05,4
2017-01-06,5
2017-01-07,6

In [53]:
# series from csv
pd.Series.from_csv('ch06/tseries.csv', parse_dates=True)

2017-01-01    0
2017-01-02    1
2017-01-03    2
2017-01-04    3
2017-01-05    4
2017-01-06    5
2017-01-07    6
dtype: int64

### 6.1.3 수동으로 구분 형식 처리하기

In [54]:
!cat ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [56]:
import csv
f = open('ch06/ex7.csv')
reader = csv.reader(f)
for line in reader: # 한줄씩
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [62]:
for h, v in zip(header, zip(*values)):
    print(h," : ", v)

a  :  ('1', '1')
b  :  ('2', '2')
c  :  ('3', '3')

In [57]:
lines = list(csv.reader(open('ch06/ex7.csv')))
header, values = lines[0], lines[1:]
data_dict = {h : v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [66]:
# 다양한 구분자 처리 클래스
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
f = open('ch06/ex7.csv')
reader = csv.reader(f, dialect=my_dialect)
reader

### 6.1.4 JSON 데이터

In [68]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
     {"name": "Katie", "age": 33, "pet": "cisco"}]

}
"""

In [69]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'cisco'}]}

In [72]:
# python object to json structure
asjson = json.dumps(result)
type(asjson)

str

In [73]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

### 6.1.5 XML과 HTML: 웹 내용 긁어오기

In [75]:
from lxml.html import parse
from urllib.request import urlopen 
# from urllib2 import urlopen (python 2.x)

parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=APPL+Options'))
doc = parsed.getroot()
doc

In [76]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x10c8b11d8>,
 <Element a at 0x10c8b1228>,
 <Element a at 0x10c8b1278>,
 <Element a at 0x10c8b12c8>,
 <Element a at 0x10c8b1318>]

In [77]:
lnk = links[28]
print(lnk)
print(lnk.get('href'))
print(lnk.text_content())

<Element a at 0x10c8b15e8>
/calendar
Markets

In [78]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['/',
 '/watchlists',
 '/portfolios?bypass=true',
 '/screener',
 '/calendar',
 '/industries',
 '/personal-finance',
 '/tech',
 '/topic/yahoo-finance-podcast',
 '/live/facebook']

In [81]:
tables = doc.findall('.//table')
tables

[]

lxml.objectify를 이용한 xml 파싱

In [82]:
from lxml import objectify

path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot() 
root
# 예제 따라할 경우 에러(Performance_MNR.xml 이 없음)

FileNotFoundError: [Errno 2] No such file or directory: 'Performance_MNR.xml'

## 6.2 이진 데이터 형식

In [90]:
frame = pd.read_csv('ch06/ex1.csv')
type(frame)

pandas.core.frame.DataFrame

In [92]:
dir(frame)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'a',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'b',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'c',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'd',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'message',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [93]:
frame.to_pickle('ch06/frame_pickle')

In [94]:
pd.read_pickle('ch06/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### 6.2.1 HDF5 형식 사용

In [96]:
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

ImportError: HDFStore requires PyTables, "No module named 'tables'" problem importing

### 6.2.2 마이크로소프트 엑셀 파일 읽기

In [101]:
xls_file = pd.read_excel('ch06/data.xls')

FileNotFoundError: [Errno 2] No such file or directory: 'ch06/data.xls'

## 6.3 HTML, 웹 API와 함께 사용(책의 내용과 다름)

In [183]:
data = open('twitter.json').read()

In [184]:
data = json.loads(data)

In [187]:
CONSUMER_KEY=data['CONSUMER_KEY']
CONSUMER_SECRET=data['CONSUMER_SECRET']
ACCESS_TOKEN_KEY=data['ACCESS_TOKEN_KEY']
ACCESS_TOKEN_SECRET=data['ACCESS_TOKEN_SECRET']

In [170]:
import requests
from requests_oauthlib import OAuth1
url = 'https://api.twitter.com/1.1/account/verify_credentials.json'
auth = OAuth1(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN_KEY, ACCESS_TOKEN_SECRET)
requests.get(url, auth=auth)

In [178]:
r = requests.get('https://api.twitter.com/1.1/search/tweets.json?q=python%20pandas', auth=auth)
data = json.loads(r.text)
data.keys()

dict_keys(['statuses', 'search_metadata'])

In [179]:
data['statuses']

[{'contributors': None,
  'coordinates': None,
  'created_at': 'Sat Apr 21 14:30:01 +0000 2018',
  'entities': {'hashtags': [{'indices': [0, 6], 'text': 'udemy'},
    {'indices': [7, 17], 'text': 'udemyfree'},
    {'indices': [18, 30], 'text': 'udemycoupon'},
    {'indices': [31, 45], 'text': 'onlineclasses'},
    {'indices': [46, 60], 'text': 'onlinecourses'},
    {'indices': [61, 75], 'text': 'UdemyDiscount'},
    {'indices': [87, 100], 'text': 'DataAnalysis'},
    {'indices': [106, 113], 'text': 'Pandas'}],
   'symbols': [],
   'urls': [{'display_url': 'twitter.com/i/web/status/9…',
     'expanded_url': 'https://twitter.com/i/web/status/987699982483378177',
     'indices': [117, 140],
     'url': 'https://t.co/jfbJ5cY9Xx'}],
   'user_mentions': []},
  'favorite_count': 0,
  'favorited': False,
  'geo': None,
  'id': 987699982483378177,
  'id_str': '987699982483378177',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'en',
  'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 0,
  'retweeted': False,
  'source': '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>',
  'text': '#udemy #udemyfree #udemycoupon #onlineclasses #onlinecourses #UdemyDiscount\n[100% Off] #DataAnalysis with #Pandas a… https://t.co/jfbJ5cY9Xx',
  'truncated': True,
  'user': {'contributors_enabled': False,
   'created_at': 'Tue Dec 08 21:46:12 +0000 2015',
   'default_profile': False,
   'default_profile_image': False,
   'description': 'Free #Coupons and #Discount Codes,Save up to 100% on #Udemy #Courses .#Education #CourseCoupons #Training #OnlineCourses #OnlineLearning #teaching #Elearning',
   'entities': {'description': {'urls': []},
    'url': {'urls': [{'display_url': 'onlinecouponscourse.com',
       'expanded_url': 'http://www.onlinecouponscourse.com/',
       'indices': [0, 23],
       'url': 'https://t.co/fLEgbQPZ38'}]}},
   'favourites_count': 13,
   'follow_request_sent': False,
   'followers_count': 5133,
   'following': False,
   'friends_count': 5143,
   'geo_enabled': False,
   'has_extended_profile': False,
   'id': 4419810927,
   'id_str': '4419810927',
   'is_translation_enabled': False,
   'is_translator': False,
   'lang': 'fr',
   'listed_count': 1042,
   'location': 'morocco',
   'name': 'OnlineCouponsCourse',
   'notifications': False,
   'profile_background_color': '000000',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4419810927/1519308958',
   'profile_image_url': 'http://pbs.twimg.com/profile_images/768604592443629568/ezbPtGJf_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/768604592443629568/ezbPtGJf_normal.jpg',
   'profile_link_color': '94D487',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': '000000',
   'profile_text_color': '000000',
   'profile_use_background_image': False,
   'protected': False,
   'screen_name': 'UdemyForfree100',
   'statuses_count': 44079,
   'time_zone': 'Pacific Time (US & Canada)',
   'translator_type': 'none',
   'url': 'https://t.co/fLEgbQPZ38',
   'utc_offset': -25200,
   'verified': False}},
 {'contributors': None,
  'coordinates': None,
  'created_at': 'Sat Apr 21 14:18:34 +0000 2018',
  'entities': {'hashtags': [],
   'symbols': [],
   'urls': [{'display_url': 'reddit.com/r/Python/comme…',
     'expanded_url': 'https://www.reddit.com/r/Python/comments/8dvo3z/reading_large_csv_taking_too_much_time_pandas/',
     'indices': [64, 87],
     'url': 'https://t.co/1fy4AFDvUN'}],
   'user_mentions': [{'id': 574827627,
     'id_str': '574827627',
     'indices': [3, 13],
     'name': 'Python Hub',
     'screen_name': 'PythonHub'}]},
  'favorite_count': 0,
  'favorited': False,
  'geo': None,
  'id': 987697102145900545,
  'id_str': '987697102145900545',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'en',
  'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 1,
  'retweeted': False,
  'retweeted_status': {'contributors': None,
   'coordinates': None,
   'created_at': 'Sat Apr 21 14:11:07 +0000 2018',
   'entities': {'hashtags': [],
    'symbols': [],
    'urls': [{'display_url': 'reddit.com/r/Python/comme…',
      'expanded_url': 'https://www.reddit.com/r/Python/comments/8dvo3z/reading_large_csv_taking_too_much_time_pandas/',
      'indices': [49, 72],
      'url': 'https://t.co/1fy4AFDvUN'}],
    'user_mentions': []},
   'favorite_count': 0,
   'favorited': False,
   'geo': None,
   'id': 987695229053620224,
   'id_str': '987695229053620224',
   'in_reply_to_screen_name': None,
   'in_reply_to_status_id': None,
   'in_reply_to_status_id_str': None,
   'in_reply_to_user_id': None,
   'in_reply_to_user_id_str': None,
   'is_quote_status': False,
   'lang': 'en',
   'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
   'place': None,
   'possibly_sensitive': False,
   'retweet_count': 1,
   'retweeted': False,
   'source': '<a href="https://ifttt.com" rel="nofollow">IFTTT</a>',
   'text': 'Reading large csv taking too much time. [Pandas] https://t.co/1fy4AFDvUN',
   'truncated': False,
   'user': {'contributors_enabled': False,
    'created_at': 'Tue May 08 19:54:45 +0000 2012',
    'default_profile': True,
    'default_profile_image': False,
    'description': 'News & links about Python programming.',
    'entities': {'description': {'urls': []}},
    'favourites_count': 0,
    'follow_request_sent': False,
    'followers_count': 18489,
    'following': False,
    'friends_count': 5,
    'geo_enabled': False,
    'has_extended_profile': False,
    'id': 574827627,
    'id_str': '574827627',
    'is_translation_enabled': False,
    'is_translator': False,
    'lang': 'en',
    'listed_count': 584,
    'location': '',
    'name': 'Python Hub',
    'notifications': False,
    'profile_background_color': 'C0DEED',
    'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
    'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
    'profile_background_tile': False,
    'profile_image_url': 'http://pbs.twimg.com/profile_images/2213121578/icon_normal.png',
    'profile_image_url_https': 'https://pbs.twimg.com/profile_images/2213121578/icon_normal.png',
    'profile_link_color': '1DA1F2',
    'profile_sidebar_border_color': 'C0DEED',
    'profile_sidebar_fill_color': 'DDEEF6',
    'profile_text_color': '333333',
    'profile_use_background_image': True,
    'protected': False,
    'screen_name': 'PythonHub',
    'statuses_count': 53442,
    'time_zone': 'London',
    'translator_type': 'none',
    'url': None,
    'utc_offset': 3600,
    'verified': False}},
  'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
  'text': 'RT @PythonHub: Reading large csv taking too much time. [Pandas] https://t.co/1fy4AFDvUN',
  'truncated': False,
  'user': {'contributors_enabled': False,
   'created_at': 'Thu Oct 21 17:45:18 +0000 2010',
   'default_profile': False,
   'default_profile_image': False,
   'description': '#FLOSS Full Stack Developer and Data Engineer #Android DevOps #Gaming #PostgreSQL DBA',
   'entities': {'description': {'urls': []},
    'url': {'urls': [{'display_url': 'about.me/lennin',
       'expanded_url': 'https://about.me/lennin',
       'indices': [0, 23],
       'url': 'https://t.co/i8p1PH4x6a'}]}},
   'favourites_count': 605,
   'follow_request_sent': False,
   'followers_count': 2883,
   'following': False,
   'friends_count': 3436,
   'geo_enabled': False,
   'has_extended_profile': False,
   'id': 205824307,
   'id_str': '205824307',
   'is_translation_enabled': False,
   'is_translator': False,
   'lang': 'en',
   'listed_count': 2723,
   'location': '',
   'name': 'Lennin Caro',
   'notifications': False,
   'profile_background_color': 'C0DEED',
   'profile_background_image_url': 'http://pbs.twimg.com/profile_background_images/208825921/Debian_Desktop_Wallpaper_Fight_For_Open_Source_Logo.jpg',
   'profile_background_image_url_https': 'https://pbs.twimg.com/profile_background_images/208825921/Debian_Desktop_Wallpaper_Fight_For_Open_Source_Logo.jpg',
   'profile_background_tile': False,
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/205824307/1522143427',
   'profile_image_url': 'http://pbs.twimg.com/profile_images/821561757525221377/zRyykb2Y_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/821561757525221377/zRyykb2Y_normal.jpg',
   'profile_link_color': '1B95E0',
   'profile_sidebar_border_color': 'C0DEED',
   'profile_sidebar_fill_color': 'DDEEF6',
   'profile_text_color': '333333',
   'profile_use_background_image': True,
   'protected': False,
   'screen_name': 'lennincaro',
   'statuses_count': 142829,
   'time_zone': 'Caracas',
   'translator_type': 'none',
   'url': 'https://t.co/i8p1PH4x6a',
   'utc_offset': -14400,
   'verified': False}},
 {'contributors': None,
  'coordinates': None,
  'created_at': 'Sat Apr 21 14:11:07 +0000 2018',
  'entities': {'hashtags': [],
   'symbols': [],
   'urls': [{'display_url': 'reddit.com/r/Python/comme…',
     'expanded_url': 'https://www.reddit.com/r/Python/comments/8dvo3z/reading_large_csv_taking_too_much_time_pandas/',
     'indices': [49, 72],
     'url': 'https://t.co/1fy4AFDvUN'}],
   'user_mentions': []},
  'favorite_count': 0,
  'favorited': False,
  'geo': None,
  'id': 987695229053620224,
  'id_str': '987695229053620224',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'en',
  'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 1,
  'retweeted': False,
  'source': '<a href="https://ifttt.com" rel="nofollow">IFTTT</a>',
  'text': 'Reading large csv taking too much time. [Pandas] https://t.co/1fy4AFDvUN',
  'truncated': False,
  'user': {'contributors_enabled': False,
   'created_at': 'Tue May 08 19:54:45 +0000 2012',
   'default_profile': True,
   'default_profile_image': False,
   'description': 'News & links about Python programming.',
   'entities': {'description': {'urls': []}},
   'favourites_count': 0,
   'follow_request_sent': False,
   'followers_count': 18489,
   'following': False,
   'friends_count': 5,
   'geo_enabled': False,
   'has_extended_profile': False,
   'id': 574827627,
   'id_str': '574827627',
   'is_translation_enabled': False,
   'is_translator': False,
   'lang': 'en',
   'listed_count': 584,
   'location': '',
   'name': 'Python Hub',
   'notifications': False,
   'profile_background_color': 'C0DEED',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/2213121578/icon_normal.png',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/2213121578/icon_normal.png',
   'profile_link_color': '1DA1F2',
   'profile_sidebar_border_color': 'C0DEED',
   'profile_sidebar_fill_color': 'DDEEF6',
   'profile_text_color': '333333',
   'profile_use_background_image': True,
   'protected': False,
   'screen_name': 'PythonHub',
   'statuses_count': 53442,
   'time_zone': 'London',
   'translator_type': 'none',
   'url': None,
   'utc_offset': 3600,
   'verified': False}},
 {'contributors': None,
  'coordinates': None,
  'created_at': 'Sat Apr 21 13:42:18 +0000 2018',
  'entities': {'hashtags': [{'indices': [91, 98], 'text': 'pandas'},
    {'indices': [99, 106], 'text': 'python'}],
   'symbols': [],
   'urls': [{'display_url': 'zpy.io/d93edd97',
     'expanded_url': 'http://zpy.io/d93edd97',
     'indices': [67, 90],
     'url': 'https://t.co/KcWjTm6Yyu'}],
   'user_mentions': [{'id': 726709023563747328,
     'id_str': '726709023563747328',
     'indices': [107, 118],
     'name': 'Python Flux',
     'screen_name': 'pythonbot_'}]},
  'favorite_count': 1,
  'favorited': False,
  'geo': None,
  'id': 987687975428481027,
  'id_str': '987687975428481027',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'en',
  'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 0,
  'retweeted': False,
  'source': '<a href="https://twitter.com/pythonbot_" rel="nofollow">Python Bot2</a>',
  'text': 'Python For Data Science For Dummies (for Dummies (computer/tech))  https://t.co/KcWjTm6Yyu #pandas #python @pythonbot_',
  'truncated': False,
  'user': {'contributors_enabled': False,
   'created_at': 'Sun May 01 09:45:07 +0000 2016',
   'default_profile': False,
   'default_profile_image': False,
   'description': 'I retweet everything about #Python programming language !',
   'entities': {'description': {'urls': []}},
   'favourites_count': 3,
   'follow_request_sent': False,
   'followers_count': 4229,
   'following': False,
   'friends_count': 2221,
   'geo_enabled': False,
   'has_extended_profile': False,
   'id': 726709023563747328,
   'id_str': '726709023563747328',
   'is_translation_enabled': False,
   'is_translator': False,
   'lang': 'en',
   'listed_count': 390,
   'location': '',
   'name': 'Python Flux',
   'notifications': False,
   'profile_background_color': '000000',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/726709023563747328/1504969738',
   'profile_image_url': 'http://pbs.twimg.com/profile_images/726714034066706433/5NWdOzpJ_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/726714034066706433/5NWdOzpJ_normal.jpg',
   'profile_link_color': '1B95E0',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': '000000',
   'profile_text_color': '000000',
   'profile_use_background_image': False,
   'protected': False,
   'screen_name': 'pythonbot_',
   'statuses_count': 75214,
   'time_zone': 'Pacific Time (US & Canada)',
   'translator_type': 'none',
   'url': None,
   'utc_offset': -25200,
   'verified': False}},
 {'contributors': None,
  'coordinates': None,
  'created_at': 'Sat Apr 21 13:42:17 +0000 2018',
  'entities': {'hashtags': [{'indices': [54, 61], 'text': 'pandas'},
    {'indices': [62, 69], 'text': 'python'}],
   'symbols': [],
   'urls': [{'display_url': 'zpy.io/5dec1fd9',
     'expanded_url': 'http://zpy.io/5dec1fd9',
     'indices': [30, 53],
     'url': 'https://t.co/aZc3GEF0ir'}],
   'user_mentions': [{'id': 726709023563747328,
     'id_str': '726709023563747328',
     'indices': [70, 81],
     'name': 'Python Flux',
     'screen_name': 'pythonbot_'}]},
  'favorite_count': 0,
  'favorited': False,
  'geo': None,
  'id': 987687973863948288,
  'id_str': '987687973863948288',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'en',
  'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 0,
  'retweeted': False,
  'source': '<a href="https://twitter.com/pythonbot_" rel="nofollow">Python Bot2</a>',
  'text': 'Mastering Pandas For Finance  https://t.co/aZc3GEF0ir #pandas #python @pythonbot_',
  'truncated': False,
  'user': {'contributors_enabled': False,
   'created_at': 'Sun May 01 09:45:07 +0000 2016',
   'default_profile': False,
   'default_profile_image': False,
   'description': 'I retweet everything about #Python programming language !',
   'entities': {'description': {'urls': []}},
   'favourites_count': 3,
   'follow_request_sent': False,
   'followers_count': 4229,
   'following': False,
   'friends_count': 2221,
   'geo_enabled': False,
   'has_extended_profile': False,
   'id': 726709023563747328,
   'id_str': '726709023563747328',
   'is_translation_enabled': False,
   'is_translator': False,
   'lang': 'en',
   'listed_count': 390,
   'location': '',
   'name': 'Python Flux',
   'notifications': False,
   'profile_background_color': '000000',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/726709023563747328/1504969738',
   'profile_image_url': 'http://pbs.twimg.com/profile_images/726714034066706433/5NWdOzpJ_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/726714034066706433/5NWdOzpJ_normal.jpg',
   'profile_link_color': '1B95E0',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': '000000',
   'profile_text_color': '000000',
   'profile_use_background_image': False,
   'protected': False,
   'screen_name': 'pythonbot_',
   'statuses_count': 75214,
   'time_zone': 'Pacific Time (US & Canada)',
   'translator_type': 'none',
   'url': None,
   'utc_offset': -25200,
   'verified': False}},
 {'contributors': None,
  'coordinates': None,
  'created_at': 'Sat Apr 21 12:22:48 +0000 2018',
  'entities': {'hashtags': [{'indices': [64, 71], 'text': 'pandas'},
    {'indices': [72, 79], 'text': 'python'}],
   'symbols': [],
   'urls': [{'display_url': 'zpy.io/4014113a',
     'expanded_url': 'http://zpy.io/4014113a',
     'indices': [40, 63],
     'url': 'https://t.co/VvqHqaQWmj'}],
   'user_mentions': [{'id': 726709023563747328,
     'id_str': '726709023563747328',
     'indices': [80, 91],
     'name': 'Python Flux',
     'screen_name': 'pythonbot_'}]},
  'favorite_count': 0,
  'favorited': False,
  'geo': None,
  'id': 987667969248514048,
  'id_str': '987667969248514048',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'fr',
  'metadata': {'iso_language_code': 'fr', 'result_type': 'recent'},
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 0,
  'retweeted': False,
  'source': '<a href="https://twitter.com/pythonbot_" rel="nofollow">Python Bot2</a>',
  'text': 'Cython: A Guide For Python Programmers  https://t.co/VvqHqaQWmj #pandas #python @pythonbot_',
  'truncated': False,
  'user': {'contributors_enabled': False,
   'created_at': 'Sun May 01 09:45:07 +0000 2016',
   'default_profile': False,
   'default_profile_image': False,
   'description': 'I retweet everything about #Python programming language !',
   'entities': {'description': {'urls': []}},
   'favourites_count': 3,
   'follow_request_sent': False,
   'followers_count': 4229,
   'following': False,
   'friends_count': 2221,
   'geo_enabled': False,
   'has_extended_profile': False,
   'id': 726709023563747328,
   'id_str': '726709023563747328',
   'is_translation_enabled': False,

In [180]:
tweet_fields = ['created_at' ,'from_user', 'id', 'text']
tweets = pd.DataFrame(data['statuses'], columns=tweet_fields)

In [181]:
tweets

,created_at,from_user,id,text
0,Sat Apr 21 14:30:01 +0000 2018,NaN,987699982483378177,#udemy #udemyfree #udemycoupon #onlineclasses ...
1,Sat Apr 21 14:18:34 +0000 2018,NaN,987697102145900545,RT @PythonHub: Reading large csv taking too mu...
2,Sat Apr 21 14:11:07 +0000 2018,NaN,987695229053620224,Reading large csv taking too much time. [Panda...
3,Sat Apr 21 13:42:18 +0000 2018,NaN,987687975428481027,Python For Data Science For Dummies (for Dummi...
4,Sat Apr 21 13:42:17 +0000 2018,NaN,987687973863948288,Mastering Pandas For Finance https://t.co/aZc...
5,Sat Apr 21 12:22:48 +0000 2018,NaN,987667969248514048,Cython: A Guide For Python Programmers https:...
6,Sat Apr 21 11:42:43 +0000 2018,NaN,987657880525565953,Data Analytics With Python: Data Analytics In ...
7,Sat Apr 21 11:14:53 +0000 2018,NaN,987650878873194496,RT @python_tip: Pass functions to .loc[] and ....
8,Sat Apr 21 11:02:03 +0000 2018,NaN,987647647153467396,RT @The_Academy_BOT: Python for Data Analysis:...
9,Sat Apr 21 11:02:02 +0000 2018,NaN,987647642686586881,Python for Data Analysis: Data Wrangling With ...
10,Sat Apr 21 10:47:01 +0000 2018,NaN,987643863442608128,“A Quick Introduction to the ‘Pandas’ Python L...
11,Sat Apr 21 10:42:08 +0000 2018,NaN,987642637581766656,RT @python_tip: Pass functions to .loc[] and ....
12,Sat Apr 21 10:13:25 +0000 2018,NaN,987635407067197440,"Este post en @quantdare ha caído muy bien, ¿se..."
13,Sat Apr 21 09:30:04 +0000 2018,NaN,987624499783745536,kichinosukey がQiitaに投稿しました.\nmatplotlibで視覚化しなが...
14,Sat Apr 21 09:23:19 +0000 2018,NaN,987622801011040256,RT @kdnuggets: A collection of Jupyter noteboo...

## 6.4 데이터베이스와 함께 사용

In [114]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER); 
"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [117]:
data = [('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3), ('Sancramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test values(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [118]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sancramento', 'California', 1.7, 5)]

In [120]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [122]:
print(zip(*cursor.description))

<zip object at 0x10c557748>

In [127]:
pd.DataFrame(rows, columns=list(zip(*cursor.description))[0])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1      Atlanta     Georgia  1.25  6
2  Tallahassee     Florida  2.60  3
3  Sancramento  California  1.70  5

In [131]:
import pandas.io.sql as sql
sql.read_sql('select * from test', con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1      Atlanta     Georgia  1.25  6
2  Tallahassee     Florida  2.60  3
3  Sancramento  California  1.70  5